# Lambda Operator

### 일반 함수

#### 미션1

In [13]:
def get_square(number):
    return number ** 2

def get_square_list(numbers):
    element = []
    for number in numbers:
        element.append(get_square(number))
    return element

In [6]:
numbers = list(range(1,11))
get_square_list(numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 미션2

In [7]:
def get_positive_list(numbers):
    elements = []
    for number in numbers:
        if number > 0:
            elements.append(number)
    return elements

In [8]:
numbers = [1, -5, 5, -7]
get_positive_list(numbers)

[1, 5]

# Map, Filter, Reduce

In [3]:
from functools import *

In [16]:
list(map(get_square, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [17]:
list(map(lambda x: x**2,
        [1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [18]:
def get_square_lit(numbers):
    return list(map(lambda x: x **2, numbers))

get_square_list([1,2,3,4,5])

[1, 4, 9, 16, 25]

### filter

In [19]:
number = [1,-2,3,-4,5]

list(map(lambda x: x>0,
        numbers))

[True, False, True, False]

In [20]:
list(filter(lambda x: x>0,
        numbers))

[1, 5]

In [22]:
def get_positive_list(numbers):
    elements=[]
    for number in numbers:
        if number >0:
            elements.append(number)
    return elements

get_positive_list(numbers)

[1, 5]

In [27]:
#list(filter(lambda x: x>0, numbers))

def get_positive_list(numbers):
    return list(filter(lambda x:x>0, numbers))

get_positive_list([1, -2,  3, -4,  5])

#get_positive_list = lambda numbers: list(filter(lambda x: x>0, numbers))

[1, 3, 5]

In [25]:
get_positive_list([1, -2,  3, -4,  5])

[1, 3, 5]

### reduce

- 입력값을 순차적으로 한개씩 받아서 최종 결과값을 갱신한다.

In [28]:
def get_multiply(numbers):
    result = 1
    for number in numbers:
        result *= number
    return result

get_multiply([1,2,3,4])

24

In [30]:
def get_max(numbers):
    result = 0
    for number in numbers:
        if result < number:
            result = number
    return result

get_max([3,-1,5,-6])

5

In [31]:
def get_bigger(a,b):
    return a if a>b else b

reduce(get_bigger, [3,-1,5,-6])

5

In [33]:
reduce(
    lambda x, y: x if x > y else y,
    [3, -1, 5, -6],
)

5

In [36]:
def get_max(numbers):
    return reduce(lambda x, y: x if x > y else y, numbers)

get_max([3, -1, 5, -6])

5

In [41]:
def multiply(a,b):
    print((a,b))
    return a*b

reduce(multiply, [1,2,3,4,5], 2)

(2, 1)
(2, 2)
(4, 3)
(12, 4)
(48, 5)

240

#### 실습. Histogram 함수 작성해보기

In [5]:
data = ["cat", "cat", "cat", "sheep", "sheep", "duck", "duck", "duck", "duck" ]


reduce(lambda a, b: a.update({b: a.get(b, 0) + 1}) or a,
        data,
        {}
      )

{'cat': 3, 'sheep': 2, 'duck': 4}

In [6]:
data = ["cat", "cat", "cat", "sheep", "sheep", "duck", "duck", "duck", "duck" ]

def get_count(result, param):
    
    if result.get(param):
        result[param]+=1
    else:
        result[param] = 1
        
    print(result, param)
    return result


reduce(
    get_count,
    data,
    {}
)

{'cat': 1} cat
{'cat': 2} cat
{'cat': 3} cat
{'cat': 3, 'sheep': 1} sheep
{'cat': 3, 'sheep': 2} sheep
{'cat': 3, 'sheep': 2, 'duck': 1} duck
{'cat': 3, 'sheep': 2, 'duck': 2} duck
{'cat': 3, 'sheep': 2, 'duck': 3} duck
{'cat': 3, 'sheep': 2, 'duck': 4} duck

{'cat': 3, 'sheep': 2, 'duck': 4}

In [8]:
result = reduce(get_count,data,{})

{'cat': 1} cat
{'cat': 2} cat
{'cat': 3} cat
{'cat': 3, 'sheep': 1} sheep
{'cat': 3, 'sheep': 2} sheep
{'cat': 3, 'sheep': 2, 'duck': 1} duck
{'cat': 3, 'sheep': 2, 'duck': 2} duck
{'cat': 3, 'sheep': 2, 'duck': 3} duck
{'cat': 3, 'sheep': 2, 'duck': 4} duck

In [9]:
result

{'cat': 3, 'sheep': 2, 'duck': 4}

In [10]:
rouw = []
for key, value in result.items():
    row = "[key]{value_count}"
    print(key, value)

cat 3
sheep 2
duck 4